body {
    background-image: url('img/pexels-chanwalrus-941861.jpg');
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            color: white;
            height: 100vh;
            margin: 0;
            display: flex;
            flex-direction: column;
}
.Menu{
    display: flex;
    justify-content:center;
}
.radimg{
    margin: 0px;
    list-style: none;
    padding: 5px;
    padding-right: 100px;
}
.imagen{
    width: 150px;
    height: 150px;
    border-radius: 85px;
}
.boton{
    background-color: #0B1320;
    padding: 12px 30px;
    color: aliceblue;
    border-radius: 25px;
    list-style: none;
    text-decoration: none;
}
.boton-IR{
    background-color: aliceblue;
    padding: 12px 30px;
    color: #1C3F60;
    border-radius: 25px;
    list-style: none;
    text-decoration: none;
}
.rad{

    margin: 100px 0px 0 0px;
    list-style: none;
    padding: 5px;
    
}
.rad1{
    margin: 100px 0px 0 0px;
    list-style: none;
    font-size: 20px;
}
.rad2{
    margin: 100px 0px 0 0px;
    list-style: none;
    padding: 0px;
    padding-left: 5px;
    font-size: 20px;
}
.titulo{
    margin: auto;
    margin-top: 100px;
    background-color: aliceblue;
    color: #0B1320;
    width: 600px;
    text-align: center;
    font-size: 23px;
}
.P-list{
    margin: auto;
    margin-top: 0px;
    text-decoration: none;
    
}
.lista{
    display: flex;
    text-decoration: none;
    list-style: none;
    font-size: 20px;
}
.botonl2{
    background-color: aliceblue;
    padding: 12px 30px;
    color: #0B1320;
    border-radius: 25px;
    list-style: none;
    text-decoration: none;
    margin-left: 15px;
}
@media only screen and (max-width: 900px){
    .Menu{
        display: none;
    }
}